<h1>Folder#show</h1>
<p>Find me in app/views/folder/show.html.erb</p>

Folder.show  ... @folder is :
<%= @folder %><br />

<hr/>

<table>
  <tr>
<% 
  num = 0
  @folder.pictures.each do |pic|
    num += 1
    
    thumb_url = url_for(:controller => "picture", :action => "image", :local_id => pic.local_id, :min_width => 100)
    full_url = url_for(:controller => "picture", :action => "image", :local_id => pic.local_id, :min_width => 1000)
%>
<td> <a href="<%= full_url %>"><img src="<%= thumb_url %>" /></a> </td>
<%
    if (num % 4 == 0)
      num %= 4
      %> </tr><tr> <%
    end
  end
%>
</tr>
</table>
